<!DOCTYPE html>
<html>
<head> workboard</head>
<body>

<form method="post">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" required><br>
    <label for="text">Text:</label>
    <textarea name="text" rows="4" cols="50" required></textarea><br>
    <label for="contact_number">Contact Number:</label>
    <input type="text" name="contact_number" required><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
